@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding-top: 20px;
    padding-bottom: 100px;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
}

.mec-main {
    margin: auto;
    max-width: 700px;
}

/* links */

a:focus {
    outline: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

/* title */

.mec-title-box {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    padding-left: 1px;
    padding-right: 1px;
}

.mec-title-text {
}

.mec-title-right {
    float: right;
}

/* paper list */

.paper-list {
    margin-top: 30px;
}

.paper-list-title {
    font-size: 16px;
    border-bottom: 1px dashed black;
}

.paper {
    margin-top: 10px;
}

.paper > .popup {
    display: none;
    margin: 0;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 120%;
}

.paper.expanded {
    margin: 7px -3px -3px -3px;
    padding: 3px;
    background-color: #EEE;
    border-radius: 3px;
}

/* projects */

.project {
    margin-top: 30px;
}

.project-title {
    border-bottom: 1px dashed black;
}

.project p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* courses */

.course {
    margin-top: 30px;
}

.course-title {
    border-bottom: 1px dashed black;
}

.course > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* elltwo */

#ellbox {
    border: 1px solid black;
    padding: 10px;
    height: 50px;
}

#elltwo {
    width: 95%;
    float: left;
}

#input {
    width: 100%;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
    border: 0;
}

#cell {
    width: 100%;
}

#elltwo.render #input {
    display: none;
}

#elltwo:not(.render) #cell {
    display: none;
}

#render {
    margin-left: 15px;
}

#cell > p {
    margin: 0;
}

/* edgeworth */

canvas.edgebox {
    cursor: none;
}
