@import url('https://fonts.googleapis.com/css?family=Roboto');

html::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto'; */
    /* font-size: 16px; */
    /* line-height: 28px; */
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    background: #070908;
    color: #B7B3BD;
    /* background: white; */
    /* color: black; */
}

#outer {
    margin: auto;
    margin-top: 50px;
    padding: 4px;
    width: 910px;
    height: 585px;
    border: 2px solid #717c75;
    border-radius: 3px;
}

#inner {
    border: 1px solid #2f3c35;
    border-radius: 1px;
    height: 100%;
}

#left {
    float: left;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#right {
    float: left;
    width: 69%;
    height: 100%;
    position: relative;
    border-left: 1px solid #2f3c35;
}

#output {
    overflow-y: scroll;
    margin: 0px;
    padding: 40px;
    height: 100%;
}

#output::-webkit-scrollbar {
    display: none;
}

#output {
    scrollbar-width: none;
}

.mec-main {
    margin-left: auto;
    margin-right: auto;
}

/* links */

a:focus {
    outline: 0;
}

a {
    color: #4C72B0;
    text-decoration: none;
}

a:visited {
    color: #4C72B0;
}

/* title */

.mec-name-box {
    border-top: 2px solid #B7B3BD;
    border-bottom: 2px solid #B7B3BD;
}

.mec-name-text {
    font-size: 20px;
}

.mec-title-box {
    font-size: 20px;
    border-bottom: 2px solid black;
    padding-left: 1px;
    padding-right: 1px;
}

.cv {
    margin-left: 1px;
    /* color: black; */
    color: white;
    margin-right: 5px;
}

.twitter {
    position: relative;
    top: 3px;
    left: -5px;
    margin-top: -4px;
    margin-right: -5px;
    margin-bottom: -2px;
    height: 25px;
}

.github {
    position: relative;
    top: 2px;
    left: -2px;
    margin-right: 2px;
    height: 18px;
}

.mec-title-text {
}

.mec-title-right {
    float: right;
}

.mec-portrait-box {
}

.mec-portrait-box > img {
    width: 100%;
}

/* paper list */

.paper-list-title {
    font-size: 16px;
    border-bottom: 1px dashed black;
}

.paper {
    margin-top: 10px;
}

.paper.expand {
    cursor: pointer;
}

.paper > .popup {
    display: none;
    margin: 0;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 120%;
}

.paper.expanded {
    margin: 7px -3px -3px -3px;
    padding: 3px;
    background-color: #333333;
    border-radius: 3px;
}

/* projects */

.project-title {
    border-bottom: 1px dashed black;
}

/* courses */

.course-title {
    border-bottom: 1px dashed black;
}

.course > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* elltwo */

#ellbox {
    border: 1px solid black;
    padding: 10px;
    height: 50px;
}

#elltwo {
    width: 95%;
    float: left;
}

#input {
    width: 100%;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
    border: 0;
}

#cell {
    width: 100%;
}

#elltwo.render #input {
    display: none;
}

#elltwo:not(.render) #cell {
    display: none;
}

#render {
    margin-left: 15px;
}

#cell > p {
    margin: 0;
}

.conway {
    margin-top: 15px;
    width: 95%;
}

/* non-mobile rules */


.mec-name-box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mec-stats-box {
}

.mec-greetings {
    margin-top: 0px;
}

.mec-stats-line {
    font-size: 20px;
}

.mec-title-box {
    margin-top: 50px;
    margin-bottom: 30px;
}

.paper-list {
    margin-top: 30px;
}

.project {
    margin-top: 30px;
}

.course {
    margin-top: 30px;
}
