body {
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 28px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title-box {
  text-align: center;
}

.mec-main {
  max-width: 850px;
}

.mec-lectures {
  max-width: 850px;
}

.mec-link-blank:link {
  color:white;
  text-decoration: none;
}

.mec-link-blank:visited {
  color:white;
  text-decoration: none;
}

.mec-link-blank:hover {
  color:white;
  text-decoration: none;
}

.mec-link-blank:active {
  color:white;
  text-decoration: none;
}

h2.section-title {
  font-size: 24px;
  text-align: center;
}

div.section-box {
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;
  min-height: 300px;
}

.table {
  margin-bottom: 0px;
}

.table tr > td:nth-child(1) {
  min-width: 80px;
}

.table tr > td:nth-child(3) {
  min-width: 270px;
}

tr.midbreak > td {
  border-top: 1px solid rgba(255,0,0,0.4) !important;
}
