input:focus {
    outline: none;
}

.line {
  fill: none;
  clip-path: url(#clip);
  stroke: steelblue;
  stroke-width: 1.5px;
}

#tokens {
    height: 25px;
    width: 250px;
    margin-left: 50px;
}

#wikiplot {
}

#getcsv {
    padding-top: 2px;
    height: 25px;
}

#doplot {
    padding-top: 2px;
    height: 25px;
}

@media (max-device-width: 499px) {
    #tokens {
        width: 95%;
        margin-left: 0px;
    }

    #wikiplot {
    }

    #getcsv {
        display: none;
    }

    #doplot {
        display: none;
    }
}
