input:focus {
    outline: none;
}

.axis {
    font-size: 16px;
}

.line {
    fill: none;
    clip-path: url(#clip);
    stroke: steelblue;
    stroke-width: 1.5px;
}

#tokens {
    font-size: 16px;
    width: 200px;
    line-height: 1.25;
    margin-top: 10px;
}

#wikibox {
    margin-left: 150px;
}

#wikiplot {
}

#getcsv {
    padding-top: 2px;
    height: 25px;
}

#doplot {
    padding-top: 2px;
    height: 25px;
}

@media (max-device-width: 499px) {
    #tokens {
        width: 95%;
        margin-left: 0px;
    }

    #wikiplot {
    }

    #getcsv {
        display: none;
    }

    #doplot {
        display: none;
    }
}
