[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "elltwo"]
	path = elltwo
	url = https://github.com/iamlemec/elltwo
[submodule "gum.js"]
	path = gum.js
	url = https://github.com/iamlemec/gum.js
