[submodule "ellsworth"]
	path = ellsworth
	url = https://github.com/iamlemec/ellsworth.git
[submodule "elltwo"]
	path = ellone
	url = https://github.com/iamlemec/ellone.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "ellone"]
	path = ellone
	url = https://github.com/iamlemec/ellone
